body {
  font-family: "Poppins", sans-serif;
  background-color: #d3d3d3;
  color: #fff;
  position: relative;
  background: transparent;
}
body::before {
  content: "";
  position: fixed;
  background: #ffffff url("../img/BG-Utama.jpg") top right no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;

  filter: brightness(50%);
  -webkit-filter: brightness(50%);
}
@media (min-width: 1024px) {
  body::before {
    background-attachment: fixed;
  }
}

a {
  color: #DADA00;
  text-decoration: none;
}

a:hover {
  color: #DADA00;
  text-decoration: none;
}

section {
  padding-top: 2rem;
}

/*--------------------------------------------------------------
  # Header
  --------------------------------------------------------------*/
#header {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  z-index: 997;
  overflow-y: auto;
}
#header * {
  transition: ease-in-out 0.3s;
}
#header h1 {
  font-size: 48px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
#header h1 a,
#header h1 a:hover {
  color: #fff;
  line-height: 1;
  display: inline-block;
}
#header h2 {
  font-size: 24px;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

#header img {
  padding: 0;
  margin: 0;
}
#header .social-links {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
#header .social-links a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  line-height: 1;
  margin-right: 8px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
#header .social-links a:hover {
  background: #DADA00;
}
@media (max-width: 992px) {
  #header h1 {
    font-size: 36px;
  }
  #header h2 {
    font-size: 20px;
    line-height: 30px;
  }
  #header .social-links {
    margin-top: 15px;
  }
  #header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Header Top */
#header.header-top {
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background: linear-gradient(to right, rgba(218, 219, 0, 0.4), rgba(28, 0, 48, 0.336));
}
#header.header-top .social-links,
#header.header-top h2 {
  display: none;
}
#header.header-top h1 {
  margin-right: auto;
  font-size: 36px;
}
#header.header-top .container {
  display: flex;
  align-items: center;
}
#header.header-top .navbar {
  margin: 0;
}
@media (max-width: 768px) {
  #header.header-top {
    height: 60px;
  }
  #header.header-top h1 {
    font-size: 26px;
  }
}

.navbar {
  padding: 0;
  margin-top: 35px;
  justify-content: center;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar li + li {
  margin-left: 30px;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:before {
  content: "";
  border-radius: 5px;
  position: absolute;
  width: 0;
  height: 5px;
  bottom: -4px;
  left: 0;
  background: linear-gradient(to right, #DADA00, #DADA00, #1c0030);
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
  color: #fff;
}

/**
  * Mobile Navigation 
  */
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
  position: fixed;
  right: 15px;
  top: 15px;
}

@media (max-width: 992px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }

  .navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #1c0030;
    transition: 0.3s;
    z-index: 999;
    margin-top: 0;
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 45px;
    left: 15px;
    padding: 10px 0;
    overflow-y: auto;
    transition: 0.3s;
    border: 2px solid rgb(255, 255, 255);
  }
  .navbar-mobile li {
    padding: 12px 20px;
  }
  .navbar-mobile li + li {
    margin: 0;
  }
  .navbar-mobile a,
  .navbar-mobile a:focus {
    font-size: 16px;
    position: relative;
  }
  .navbar a:hover:before,
  .navbar li:hover > a:before,
  .navbar .active:before {
    visibility: visible;
    width: 10%;
  }
}

section {
  overflow: hidden;
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 140px;
  bottom: 100%;
  opacity: 0;
  transition: ease-in-out 0.4s;
  z-index: 2;
}

section h1 span {
  color: #fff;
  border-bottom: 4px solid rgb(218, 218, 0);
  text-transform: uppercase;
  font-weight: 600;
}

section.section-show {
  top: 100px;
  bottom: auto;
  opacity: 1;
  padding-bottom: 45px;
}

@media (max-width: 768px) {
  section {
    top: 120px;
  }
  section.section-show {
    top: 80px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: rgb(35 24 194);
  border-radius: 25px;
  transition: .4s ease-in-out;
  height: 400px;
}

.form:hover {
  transform: scale(1.05);
  border: 1px solid rgb(0, 67, 122);
}

#heading {
  text-align: center;
  margin: 2em;
  color: rgb(255, 255, 255);
  font-size: 1.2em;
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

}

.input-icon {
  height: 1.3em;
  width: 1.3em;
  fill: white;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.form .btn {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: auto;
}

.button1 {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 5px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
}

.button1:hover {
  color: rgb(35 24 194);
  box-shadow: inset 0 -100px 0 0 #fff;
}

.button1:active {
  transform: scale(0.9);
}


.button2 {
  padding: 0.5em;
  padding-left: 2.3em;
  padding-right: 2.3em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button2:hover {
  background-color: black;
  color: white;
}

.button3 {
  margin-bottom: 3em;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  outline: none;
  transition: .4s ease-in-out;
  background-color: #252525;
  color: white;
}

.button3:hover {
  background-color: red;
  color: white;
}
.card {
  --color-1: rgb(218, 218, 0);
  --color-2: rgb(172, 236, 0);
  --color-3: #75757510;
  margin: auto;
  width: 100%;
  background: var(--color-3);
  backdrop-filter: blur(12px);
  box-shadow: -15px -15px var(--color-1), 15px 15px var(--color-2);
}

.about img {
  opacity: 90%;
}

@media (max-width: 992px) {
  .about p {
    margin: 0 20px;
  }
  .about img {
    width: 250px;
  }
  .skills img {
    width: 100px;
  }
}

.button {
  position: relative;
  display: inline-block;
  margin: 15px;
  padding: 15px 30px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border-radius: 30px;
  border: 2px solid #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 #fff;
  -webkit-transition: ease-out 0.5s;
  -moz-transition: ease-out 0.5s;
  -ms-transition: ease-out 0.5s;
  -o-transition: ease-out 0.5s;
}

.button:hover {
  color: #000;
  box-shadow: inset 0 -100px 0 0 #fff;
}

.button:active {
  transform: scale(0.9);
}

.login img{
  height: 200px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.contact .info-box {
  color: #444444;
  padding: 20px;
  width: 100%;
  background: rgba(255, 255, 255, 0.08);
}
.contact .info-box i.bx {
  font-size: 24px;
  color: #DADA00;
  border-radius: 50%;
  padding: 14px;
  float: left;
  background: rgba(255, 255, 255, 0.1);
}
.contact .info-box h3 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 700;
  margin: 10px 0 8px 68px;
}
.contact .info-box p {
  padding: 0;
  color: #fff;
  line-height: 24px;
  font-size: 14px;
  margin: 0 0 0 68px;
}
.contact .info-box .social-links {
  margin: 5px 0 0 68px;
  display: flex;
}
.contact .info-box .social-links a {
  font-size: 18px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  margin-right: 12px;
  transition: 0.3s;
}
.contact .info-box .social-links a:hover {
  color: #DADA00;
}

@media (max-width: 992px) {
  .form-contact {
    padding: 0 2rem;
  }
}
